NODE_ENV=production
PUBLIC_BASE_URL=https://zentrastore.com.tr
PUBLIC_BACKEND_ORIGIN=https://emirhan-siye.onrender.com
ALLOWED_ORIGINS=https://www.zentrastore.com.tr
PUBLIC_FIREBASE_CONFIG={"apiKey":"AIzaSyANhKrb7zuSzXouFq03Q_oWQJCQUglCNhE","authDomain":"playmatrixpro-b18b7.firebaseapp.com","projectId":"playmatrixpro-b18b7","storageBucket":"playmatrixpro-b18b7.firebasestorage.app","messagingSenderId":"401147567674","appId":"1:401147567674:web:37f609d8527e61a72c5f03","measurementId":"G-HEDD2B0T9H"}
APP_CHECK_MODE=monitor
FIREBASE_KEY=<RENDER_MEVCUT_FIREBASE_SERVICE_ACCOUNT_JSON>
ADMIN_EMAILS=o6emirv2@gmail.com
ADMIN_UIDS=3MUxVqLqvqRb7RIKfnyb2jhcsGy1
ADMIN_GATE_FOUR_SALT_HEX=<RENDER_MEVCUT_GIZLI_DEGER>
ADMIN_GATE_FOUR_HASH_HEX=<RENDER_MEVCUT_GIZLI_DEGER>
ADMIN_GATE_FIVE_SALT_HEX=<RENDER_MEVCUT_GIZLI_DEGER>
ADMIN_GATE_FIVE_HASH_HEX=<RENDER_MEVCUT_GIZLI_DEGER>
ADMIN_GATE_SIGNING_SECRET=<RENDER_MEVCUT_GIZLI_DEGER>
ADMIN_TOTP_SECRET_BASE32=<RENDER_MEVCUT_GIZLI_DEGER>
STORE_KEY_ACTIVE_KEY_ID=legacy-v1
STORE_KEY_ENCRYPTION_SECRET=<RENDER_MEVCUT_SIFRELEME_ANAHTARI>
STORE_KEY_FINGERPRINT_SECRET=<RENDER_MEVCUT_PARMAK_IZI_ANAHTARI>
STORE_KEY_DECRYPTION_KEYS_JSON={}
